*{box-sizing: border-box;}
body{margin:0}

h1{font-family: logo;
    font-size:750%;
    padding-top: 90px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    color:black;
}
@font-face {
    font-family: logo;
    src:url(../Bison/Bison-Bold\(PersonalUse\).ttf);
}

h2{font-family: subtitulo;
    font-size: 100%;
    text-align: center;
    padding-top: 1px;
}

@font-face{
    font-family: subtitulo;
    src:url(../Helvetica-Font/Helvetica.ttf);
}

h4{font-family: head;}
@font-face{
    font-family: head;
    src:url(../);
}

#header{
    font-family: subtitulo;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

ul
{
display:flex;  
flex-direction: row;
list-style-type: none;
justify-content: flex-end;
padding-left: 62em;
}

li
{
 padding-left: 8em;  
}

.collage {
width: 66%;
height: 66%;
margin: -29% 1% 1% 34%;
}

.footer{
width: 6%;
height: 6%;
padding: 0% 1% 0% 1%;
margin-left: 20%;
}
